@-webkit-keyframes blk2trans {
  0% {
    border-color: black;
  }
  100% {
    border-color: transparent;
  }
}

@keyframes blk2trans {
  0% {
    border-color: black;
  }
  100% {
    border-color: transparent;
  }
}

@-webkit-keyframes trans2blk {
  0% {
    border-color: transparent;
  }
  100% {
    border-color: black;
  }
}

@keyframes trans2blk {
  0% {
    border-color: transparent;
  }
  100% {
    border-color: black;
  }
}

@-webkit-keyframes displayDelay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes displayDelay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes rsrkt {
  0% {
    opacity: 0;
    right: -22px;
  }
  5% {
    opacity: .2;
    right: -22px;
    top: 55px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  25% {
    opacity: 1;
    top: -10px;
    right: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  33% {
    opacity: 1;
    right: 0;
    top: -20px;
  }
  44% {
    opacity: 1;
    right: 0;
    top: -10px;
  }
  50% {
    opacity: 1;
    right: 0;
    top: -20px;
  }
  60% {
    opacity: 1;
    right: 0;
    top: -10px;
  }
  70% {
    opacity: 1;
    right: 0;
    top: -20px;
  }
  80% {
    opacity: 1;
    right: 0;
    top: -10px;
  }
  90% {
    opacity: 1;
    right: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    right: 0;
    -webkit-transform: rotateY(666deg);
            transform: rotateY(666deg);
    top: -10px;
  }
}

@keyframes rsrkt {
  0% {
    opacity: 0;
    right: -22px;
  }
  5% {
    opacity: .2;
    right: -22px;
    top: 55px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  25% {
    opacity: 1;
    top: -10px;
    right: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  33% {
    opacity: 1;
    right: 0;
    top: -20px;
  }
  44% {
    opacity: 1;
    right: 0;
    top: -10px;
  }
  50% {
    opacity: 1;
    right: 0;
    top: -20px;
  }
  60% {
    opacity: 1;
    right: 0;
    top: -10px;
  }
  70% {
    opacity: 1;
    right: 0;
    top: -20px;
  }
  80% {
    opacity: 1;
    right: 0;
    top: -10px;
  }
  90% {
    opacity: 1;
    right: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    right: 0;
    -webkit-transform: rotateY(666deg);
            transform: rotateY(666deg);
    top: -10px;
  }
}

@-webkit-keyframes phone-respond {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(-33px, 0, 0);
            transform: translate3d(-33px, 0, 0);
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  75% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-33px, 0, 0);
            transform: translate3d(-33px, 0, 0);
  }
}

@keyframes phone-respond {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(-33px, 0, 0);
            transform: translate3d(-33px, 0, 0);
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  75% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-33px, 0, 0);
            transform: translate3d(-33px, 0, 0);
  }
}

@-webkit-keyframes laptop-respond {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: translate3d(33px, 0, 0);
            transform: translate3d(33px, 0, 0);
  }
  75% {
    opacity: 1;
  }
  80% {
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes laptop-respond {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: translate3d(33px, 0, 0);
            transform: translate3d(33px, 0, 0);
  }
  75% {
    opacity: 1;
  }
  80% {
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes paint {
  0% {
    -webkit-transform: rotate(-33.5deg);
            transform: rotate(-33.5deg);
  }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-33.5deg);
            transform: rotate(-33.5deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-33.5deg);
            transform: rotate(-33.5deg);
  }
}

@keyframes paint {
  0% {
    -webkit-transform: rotate(-33.5deg);
            transform: rotate(-33.5deg);
  }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-33.5deg);
            transform: rotate(-33.5deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-33.5deg);
            transform: rotate(-33.5deg);
  }
}

div.shutter {
  min-width: 100%;
  min-height: 100%;
  max-width: inherit;
  max-height: inherit;
  position: absolute;
  top: 0;
  overflow: hidden hidden;
  border: calc(5vw + 5vh) solid black;
  z-index: 3;
}

div.shutter.a0 {
  -webkit-animation: trans2blk 333ms linear 0ms forwards;
          animation: trans2blk 333ms linear 0ms forwards;
}

div.shutter.b0 {
  -webkit-animation: blk2trans 333ms linear 270ms forwards;
          animation: blk2trans 333ms linear 270ms forwards;
}

div.shutter.a1 {
  -webkit-animation: trans2blk 333ms linear 30ms forwards;
          animation: trans2blk 333ms linear 30ms forwards;
}

div.shutter.b1 {
  -webkit-animation: blk2trans 333ms linear 240ms forwards;
          animation: blk2trans 333ms linear 240ms forwards;
}

div.shutter.a2 {
  -webkit-animation: trans2blk 333ms linear 60ms forwards;
          animation: trans2blk 333ms linear 60ms forwards;
}

div.shutter.b2 {
  -webkit-animation: blk2trans 333ms linear 210ms forwards;
          animation: blk2trans 333ms linear 210ms forwards;
}

div.shutter.a3 {
  -webkit-animation: trans2blk 333ms linear 90ms forwards;
          animation: trans2blk 333ms linear 90ms forwards;
}

div.shutter.b3 {
  -webkit-animation: blk2trans 333ms linear 180ms forwards;
          animation: blk2trans 333ms linear 180ms forwards;
}

div.shutter.a4 {
  -webkit-animation: trans2blk 333ms linear 120ms forwards;
          animation: trans2blk 333ms linear 120ms forwards;
}

div.shutter.b4 {
  -webkit-animation: blk2trans 333ms linear 150ms forwards;
          animation: blk2trans 333ms linear 150ms forwards;
}

div.shutter.a5 {
  -webkit-animation: trans2blk 333ms linear 150ms forwards;
          animation: trans2blk 333ms linear 150ms forwards;
}

div.shutter.b5 {
  -webkit-animation: blk2trans 333ms linear 120ms forwards;
          animation: blk2trans 333ms linear 120ms forwards;
}

div.shutter.a6 {
  -webkit-animation: trans2blk 333ms linear 180ms forwards;
          animation: trans2blk 333ms linear 180ms forwards;
}

div.shutter.b6 {
  -webkit-animation: blk2trans 333ms linear 90ms forwards;
          animation: blk2trans 333ms linear 90ms forwards;
}

div.shutter.a7 {
  -webkit-animation: trans2blk 333ms linear 210ms forwards;
          animation: trans2blk 333ms linear 210ms forwards;
}

div.shutter.b7 {
  -webkit-animation: blk2trans 333ms linear 60ms forwards;
          animation: blk2trans 333ms linear 60ms forwards;
}

div.shutter.a8 {
  -webkit-animation: trans2blk 333ms linear 240ms forwards;
          animation: trans2blk 333ms linear 240ms forwards;
}

div.shutter.b8 {
  -webkit-animation: blk2trans 333ms linear 30ms forwards;
          animation: blk2trans 333ms linear 30ms forwards;
}

div.shutter.a9 {
  -webkit-animation: trans2blk 333ms linear 270ms forwards;
          animation: trans2blk 333ms linear 270ms forwards;
}

div.shutter.b9 {
  -webkit-animation: blk2trans 333ms linear 0ms forwards;
          animation: blk2trans 333ms linear 0ms forwards;
}

@keyframes blk2trans {
  0% {
    border-color: black;
  }
  100% {
    border-color: transparent;
  }
}

@keyframes trans2blk {
  0% {
    border-color: transparent;
  }
  100% {
    border-color: black;
  }
}

@keyframes displayDelay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rsrkt {
  0% {
    opacity: 0;
    right: -22px;
  }
  5% {
    opacity: .2;
    right: -22px;
    top: 55px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  25% {
    opacity: 1;
    top: -10px;
    right: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  33% {
    opacity: 1;
    right: 0;
    top: -20px;
  }
  44% {
    opacity: 1;
    right: 0;
    top: -10px;
  }
  50% {
    opacity: 1;
    right: 0;
    top: -20px;
  }
  60% {
    opacity: 1;
    right: 0;
    top: -10px;
  }
  70% {
    opacity: 1;
    right: 0;
    top: -20px;
  }
  80% {
    opacity: 1;
    right: 0;
    top: -10px;
  }
  90% {
    opacity: 1;
    right: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    right: 0;
    -webkit-transform: rotateY(666deg);
            transform: rotateY(666deg);
    top: -10px;
  }
}

@keyframes phone-respond {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(-33px, 0, 0);
            transform: translate3d(-33px, 0, 0);
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  75% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-33px, 0, 0);
            transform: translate3d(-33px, 0, 0);
  }
}

@keyframes laptop-respond {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: translate3d(33px, 0, 0);
            transform: translate3d(33px, 0, 0);
  }
  75% {
    opacity: 1;
  }
  80% {
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes paint {
  0% {
    -webkit-transform: rotate(-33.5deg);
            transform: rotate(-33.5deg);
  }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-33.5deg);
            transform: rotate(-33.5deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-33.5deg);
            transform: rotate(-33.5deg);
  }
}
/*# sourceMappingURL=effct.css.map */