@import "effct";
@import "config";
@import "menu";
@import "carousel";

* {
  box-sizing: border-box;
}
body {
  width: 100%;
  padding: 0;
  margin: 0;
  @include background();
  background-color: $primary-color;
  color: $primary-fontColor;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.2;
}
div#name {
  h1 {
  margin: 0;
  font-weight: 400;
  position: absolute;
  top: 4vh;
  left: 4vw;
    &.name {
      font-size: 10vw;
      left: 4vw;
      &.nb {
        left: 30vw;
        display: inline-block;
        color: $secondary-fontColor;
      }
    }
  }
}
h2.bio {
  font-size: 3vw;
}
a {
  color: #fff;
  text-decoration: none;
}
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

main {
  padding: 5vh;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  .icons {
    margin-top: 1rem;
    a {
      padding: 0.333rem;
      &:hover {
        color: $secondary-fontColor;
        @include easeOut();
      }
    }
  }

  &#home {
    #name h1.name {
      top: 10vh;
    }
    h2.bio {
      opacity: 0;
      animation: displayDelay 3s forwards;
      font-weight: 400;
      position: absolute;
      padding: 1rem;
      top: 40vh;
      left: 4vw;
      right: 4vw;
      background: rgba(lighten($primary-color, 2), 0.7);
    }
    div.icons {
      .fa, .fab, .fad, .fal, .far, .fas {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
    }
      opacity: 0;
      animation: displayDelay 3s forwards;
      position: absolute;
      bottom: 10vh;
      left: 4vw;
    }
  }

  &#whyme {
    min-height: 1000px;
    padding: 3vw;
    div#name h1.nb {
      left: 26vw;
    }
    h2.bio {
      opacity: 0;
      animation: displayDelay 3s forwards;
      font-weight: 400;
      position: absolute;
      padding: 1rem;
      top: 20vh;
    }
    div.reasonsGrid {
      position: absolute;
      top: 30vh;
      height: 40vh;
      max-height: 450px;
      width: 94vw;
      opacity: 0;
      animation: displayDelay 3s forwards;
      display: grid;
      row-gap: 30px;
      column-gap: 30px;
      grid-template-areas:
        "icon-one icon-two icon-three"
        "reason-one reason-two reason-three";
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 3rem;
      div.icon i {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .icon-one {
        i {
          padding-top: 9vh;
        }
        grid-area: icon-one;
        animation: paint 3s linear 0s infinite;
      }
      .icon-two {
        grid-area: icon-two;
        span {
          text-align: center;
          display: block;
          margin-top: 9vh;
          margin-left: auto;
          margin-right: auto;
          height: 66px; 
          width: auto;
          i.fa-mobile-alt {
            display: inline-block;
            animation: phone-respond 3s linear 0s infinite;
          }
          i.fa-laptop {
            display: inline-block;
            margin-left: -50px;
            animation: laptop-respond 3s linear 0s infinite;
          }
        }
      }
      .icon-three {
        grid-area: icon-three;
        i {
          padding-top: 6vh;
          position: relative;
          top: 66px;
          right: -22px;
          height: auto;
          width: 30px;
          text-align: center;
          margin: 0 auto;
          transform: rotate(90deg);
          animation: rsrkt 6s linear 1s infinite;
        }
        img {
          text-align: center;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .reason {
        background: lighten($primary-color, 3);
        border-left: 5px solid $secondary-fontColor;
        height: 100%;
        p.reasonSum {
          font-size: 2vw;
          margin: 1rem;
        }
        h2 {
          text-align: center;
          &.reasonTitle {
            margin: 1rem;
            font-size: 3vw;
          }
        }
        &-one {
          grid-area: reason-one;
        }
        &-two {
          grid-area: reason-two;
        }
        &-three {
          grid-area: reason-three;
        }
      }
    }
  }

  &#toolkit {
    min-height: 1000px;
    div#name {
      height: 120px;
      margin-top: 0;
      .nb {

        left: 22vw;
      }
    }
    h2.bio {
      position: absolute;
      top: 22vh;
      left: 4vw;
      opacity: 0;
      animation: displayDelay 3s forwards;
      font-weight: 400;
    }
    div.toolGrid {
      position: absolute;
      bottom: 0;
      width: 90vw;
      height: 60vh;
      animation: displayDelay 3s forwards;
      display: grid;
      row-gap: 15px;
      column-gap: 15px;
      grid-template-areas:
        "tool-one tool-two tool-three tool-four"
        "tool-five tool-six tool-seven tool-eight"
        "tool-nine tool-ten tool-eleven tool-twelve";
      grid-template-columns: repeat(4, 1fr);
      .tool {
        text-align: center;
        width: 100%;
        img {
          width: 8vw;
          max-width: 111.11px;
          height: auto;
          &.tool-two {
            margin-top: -10px;
            width: 12vw;
            max-width: 170px;
          }
          &.tool-three {
            margin-top: 25px;
          }
          &.tool-four {
            margin-top: 30px;
          }
          &.tool-five {
            width: 11vw;
            max-width: 170px;
          }
          &.tool-ten {
            margin-top: -15px;
            width: 12vw;
            max-width: 170px;
          }
          &.tool-eleven {
            margin-top: 25px;
            width: 12vw;
            max-width: 170px;
          }
          &.tool-twelve {
            margin-top: 15px;
          }
        }
      }
    }
  }

  &#mywork {
    padding: 3vw;
    div#name {
      h1 {
        top: 3vh;
        &.nb {
          top: 3vh;
          left: 19vw;
        }
      }
    }
    h2.bio {
      opacity: 0;
      animation: displayDelay 3s forwards;
      font-weight: 400;
      position: absolute;
      padding: 1rem;
      top: 14.5vh;
    }
    #carousel {
      animation: displayDelay 3s forwards;
    }
  }

  &#contact {
    padding: 3vw;
    div#name h1.nb {
      left: 40vw;
    }
    h2.bio {
      opacity: 0;
      animation: displayDelay 3s forwards;
      font-weight: 400;
      position: absolute;
      padding: 1rem;
      top: 20vh;
    }
    div.boxes {
      padding: 1rem;
      animation: displayDelay 3s forwards;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      top: 40vh;
      height: 40vh;
      div {
        cursor: pointer;
        border-radius: 100px;
        border: 3px solid #fff;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;
        font-size: 2vw;
        &:hover {
          a {
            @include easeOut;
            color: $secondary-fontColor;
          }
          border: 6px solid #fff;
          color: $secondary-fontColor;
          span {
            color: $secondary-fontColor;
          }
        }
      }
    }
  }
}

footer#footer {
  text-align: center;
  padding: 3px 0 0 0;
  background: darken($primary-color, 10);
  height: 33px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
  .icons {
    margin-top: 4px;
    a {
      &:hover {
        color: red;
        @include easeOut();
      }
    }
  }
}

@import "mobile";
