@import "config";

//>1000px height
@include maxHeight {
  main#mywork {
    div#name>h1.name {
      left: 0;
      top: 0;
      &.nb {
        top: 0;
        left: 15vw;
      }
    }
    h2.bio {
      left: 44vw;
      padding: 0;
      top: 4.5vw;
    }
    #carousel {
      top: 20vh;
    }
  }
}

//responsive typography for width <1400px
@include maxScreen {
  html {
    div#name>h1.name {
      font-size: 140px;
      left: 65px;
      &.nb {
        left: 440px;
      }
    }
    h2.bio {
      font-size: 42px;
    }
  }
  body {
    header{
      nav.menu {
        .selfie {
          width: 500px;
          height: 500px;
        }
        ul.menu-nav{
          li.nav-item {
            a {
              font-size: 80px;
            }
          }
        }
      }
    }
  }

  main#whyme {
    div#name>h1.name.nb {
        left: 370px;
      }
    div.reasonsGrid .reason {
      h2.reasonTitle {
        font-size: 42px;
        }
      p.reasonSum {
        font-size: 28px;
      }
    }
  }

  main#toolkit {
    div#name>h1.name {
      font-size: 140px;
      &.nb {
        left: 317px;
      }
    }
  }

  main#mywork {
    div#name>h1.name {
      left: 56px;
      &.nb {
        left: 266px;
      }
    }
    h2.bio {
      left: 616px;
      top: 100px;
    }
  }

  main#contact {
    div#name>h1.name {
      &.nb {
        left: 560px;
      }
    }
    div.boxes div {
      font-size: 30px;
    }
  }
}

//tablet >1000px
@include mediaMd {
  div#name>h1.name {
    font-size:16vw;
    left: 4vw;
    &.nb {
      font-size:16vw;
      left: 45vw;
    }
  }
  h2.bio {
    font-size: 6vw;
  }
  header>nav.menu {
  div.selfie {
    transform: translateX(666px);
    @include easeOut;
    transition-delay: .333s;
    &.show {
      transform: translateX(0);
    }
  }
    ul.menu-nav>li.nav-item {
      transform: translate3d(-1111px, 0, 0);
      &.show {
        transform: translate3d(0, 0, 0);
      }
    }
  }

  main {
    align-items: center;
    text-align: center;
    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }

    &#whyme {
      height: 110vh;
      padding: 3vw;
      div#name {
        h1 {
          &.name.nb {
            left: 37vw;
          }
        }
      }
      div.reasonsGrid {
        position: absolute;
        top: 35vh;
        margin-right: 0;
        width: 92vw;
        grid-template-areas:
        "icon-one reason-one"
        "icon-two reason-two"
        "icon-three reason-three";
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3vw;
        column-gap: 0;
        .reason {
          h2.reasonTitle {
            font-size: 5vw;
          }
          p.reasonSum {
            font-size: 3.33vw;
          }
          width: 100%;
          height:100%;
        }
        div.icon-one, div.icon-two, div.icon-three {
          height: 100%;
        }
        div.reason h2 {
          margin-top: 2vh;
        }
        div.reason-three>h2.reasonTitle {
          margin-top: 5vh;
        }
      }
    }
  }

  ul.menu-nav,
  div.menu-brand {
    float: none;
    width: 100%;
    min-height: 0;
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
  }
  .menu-brand {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
    .selfie {
      width: 24vh;
      height: 24vh;
    }
  }
  div.reasonsGrid {
    grid-template-areas:
      "icon-one"
      "reason-one"
      "icon-two"
      "reason-two"
      "icon-three"
      "reason-three";

    grid-template-columns: 1fr;
  }

  main#toolkit{
    div#name>h1.name.nb {
        left: 32vw;
    }
    h2.bio {
      font-size: 5vw;
    }
    padding: 2rem;
    div.toolGrid {
      position: relative;
      top: 25vh;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "tool-one tool-two tool-three"
        "tool-four tool-five tool-six"
        "tool-seven tool-eight tool-nine"
        "tool-ten tool-eleven tool-twelve";
        row-gap: 15px;
        column-gap: 15px;
        div.tool>img {
          width: calc(5vw + 5vh);
          height: auto;
          &.tool-two {
            max-width: 180px;
            width: 20vw;
            min-width: 150px;
          }
          &.tool-four {
            margin-top: 0;
            width: 15vw;
            min-width: 100px;
          }
          &.tool-five {
            min-width: 120px;
            width: 17vw;
          }
          &.tool-ten {
            width: 19vw;
            min-width: 130px;
          }
          &.tool-eleven {
            min-width: 110px;
            width: 18vw;
          }
        }
    }
  }

  main#mywork {
      div#name>h1.name {
        top: 0;
        &.nb {
          top: 0;
          left: 28vw;
        }
      }
      h2.bio {
        top: 9vh;
      }
  
    #carousel {
      top: 24vh;
    }
  }

  main#contact {
    div#name>h1.name {
      &.nb {
        left: 60vw;
      }
    }
    h2.bio {
      left: 0;
    }
    div.boxes div {
      font-size: 3.33vw;
    }
  }
}

//smartphone width >500px
@include mediaSm {
  div#name>h1.name {
    font-size: 16vw;
    left: 4vw;
    &.nb {
      left: 45vw;
    }
  }
  h2.bio {
    font-size: 6vw;
  }
  body {
    header{
      nav.menu {
        ul.menu-nav{
          li.nav-item {
            a {
              font-size: 10vw;
            }
          }
        }
      }
    }
  }
  header>nav.menu>ul.menu-nav>li.nav-item>a.nav-link {
    padding-bottom: 22px;
  }
  div#name {
    height: 110px;
    h1 {
      margin-top: 0;
      padding-top: 10px;
    }
  }
  ul.menu-nav {
    .menu-brand .selfie {
      width: 23vh;
      height: 23vh;
    }
  }

  main#home {
    padding: 0;
  }

  main#whyme {
    height: 170vh;
    padding: 6vw;
    h2.bio {
      top: 15vh;
    }
    div.reasonsGrid {
      top: 25vh;
      width: 88vw;
      height: 50%;
      margin-bottom: 600px;
      grid-template-areas:
      "icon-one"
      "reason-one"
      "icon-two"
      "reason-two"
      "icon-three"
      "reason-three";
      grid-template-columns: repeat(1, 1fr);
      row-gap: 3vh;
      column-gap: 0;
      .icon-one {
        width: 70%;
        margin-left: 10%;
      }
      div.reason {
        h2.reasonTitle {
          margin-top: 3vh;
          font-size: 6vw;
        }
        p.reasonSum {
          font-size: 5vw;
        }
      }
      div.reason-three>h2.reasonTitle {
        margin-top: 2vh;
      }
    }
  }

  main#toolkit {
    height: 110%;
    padding: 6vw;
    div#name {
      margin-top: 3vh;
      h1 {
        margin-bottom: 13px;
      }
    }
    h2.bio {
      top: 16vh;
    }
    div.toolGrid {
      width: 88vw;
      position: absolute;
      top: 25;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "tool-one tool-two"
        "tool-three tool-four"
        "tool-five tool-six"
        "tool-seven tool-eight"
        "tool-nine tool-ten"
        "tool-eleven tool-twelve";
      row-gap: 15px;
      column-gap: 15px;
      div.tool>img {
        width: calc(5vw + 5vh);
        height: auto;
        &.tool-two {
          width: 20vw;
          min-width: 90px;
        }
        &.tool-three {
          margin-top: 5px;
        }
        &.tool-four {
          min-width: 65px;
        }
        &.tool-five {
          min-width: 75px;
        }
        &.tool-ten {
          min-width: 90px;
        }
        &.tool-eleven {
          min-width: 75px;
          margin-top: 15px
        }
      }
    }
  }

  main#mywork {
    padding: 0;
    #name {
      height: fit-content;
      h1.name {
        margin-top: 0;
      }
    }
    h2.bio {
      top: 8vh;
    }
    div#carousel {
      padding: 0;
      width: 100%;
      margin-top: 30px;
      height: 69vh;
      top: 14vh;
      button.carouselSlider {
        top: 73vh;
        i {
          position: relative;          
        }
        &.slide-left {
          left: 5vw;
        }
        &.slide-right {
          right: 5vw;
        }
      }
      div.carouselNav {
        position: absolute;
        top: 71vh;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
      }
    }
  }

  main#contact {
    padding: 0;
    #name {
      margin-top: 13vh;
    }
    div.boxes {
      top: 20vh;
      div {
        margin-bottom: 1rem;
        width: 100vw;
      }
    }
  }
}
